<div class="row">
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <label for="inputEscola">Escola</label>
                <select id="inputEscola" name="inputEscola"  [(ngModel)]="selectedEscola" class="form-control" (change)="buscarSerie()">
                    <option *ngFor="let e of escolas; let i = index" [ngValue]="e">{{e.nome}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputSerie">Série</label>
                <select id="inputSerie" name="inputSerie" [(ngModel)]="selectedSerie" class="form-control" (change)="buscarMaterial()">
                    <option *ngFor="let s of series; let i = index">{{s}}</option>
                </select>
            </div>
        </form>
        <lista-material [materias]="materias" (materialRemovido)="buscarCotacoe()"></lista-material>
    </div>
    <div class="col-sm-9">
        <lista-cotacao [cotacao]="cotacoes"></lista-cotacao>
    </div>
</div>