<div class="panel panel-default sidebar-menu">
  <div class="panel-heading">
    <h3 class="panel-title">Materiais</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group list-group-flush cm-lst">
      <li *ngFor="let item of materias; let i = index">
        <label class="cm-label">
          <i (click)="removerMaterial(i, item)" class="fa fa-trash-o cm-icon-trash"></i> 
          {{item.quantidade}} {{item.materialEscolar.descricao}} 
        </label>
      </li>
    </ul>
    <button class="btn btn-default btn-sm btn-template-main" (click)="adicionarMaterial()">
      <i class="fa fa-plus"></i> Adicionar
    </button>
  </div>
</div>