<div *ngIf="cotacao.visivel" class="col-md-4 col-sm-6">
  <div class="product">
    <div class="image" style="height: 262px;">
      <a (click)="abrirDetalhe()" style="cursor: pointer;">
        <img [src]="obterImagem()" alt="" class="img-responsive image1">
      </a>
    </div>
    <div class="text">
      <h3><a (click)="abrirDetalhe()" style="cursor: pointer;" >{{cotacao.nome}}</a></h3>
      <p class="price">R$ {{cotacao.total}}</p>
      <p *ngIf="cotacao.naoEncontrados.length > 0" class="notfound">Materieis não encontrados {{cotacao.naoEncontrados.length}}</p>
      <p class="notfound">
        <span *ngFor="let c of cotacao.naoEncontrados; let i = index">
          {{c.materialEscolar.descricao}}{{i==cotacao.naoEncontrados.length -1? '':','}}
        </span>
      </p>
    </div>
  </div>
</div>